/* * {
  font-family: "Open Sans", sans-serif;
  font-family: "Proza Libre", sans-serif;
} */

.container {
  width: 100%;
}

header {
  background: #562b81;
  padding: 1rem 0;
  color: white;
  display: block;
  font-family: 'Proza Libre', sans-serif;
  font-size: 18px;
}

h1 {
  padding: 1rem;
  font-family: 'Proza Libre', sans-serif;
}

button {
  background: #562b81;
  padding: 0.5rem;
  width: 5rem;
  border-radius: 0.5rem;
  color: white;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.btn {
  text-align: right;
}

label {
  display: block;
  width: 100%;
  font-family: 'Proza Libre', sans-serif;
  font-weight: 800;
}

img {
  width: 100%;
  height: 100%;
}

#title-text {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: ;
}

textarea {
  width: 100%;
}

#photo-url {
  width: 100%;
  padding: 0.5rem;
}

#notes {
  width: 100%;
  height: 10rem;
}
